In [ ]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

In [ ]:
# dynamic programming

a=10
print(a)
print(id(a))

a = 3.14
print(a)
print(id(a))

a ="NTT"
print(a)
print(id(a))

In [ ]:
# deleting a variable

a = 20
print(a)
del a
print(a)

In [ ]:
# creating multiple variables

a,b,c = 10 , 3.14 , "NTT"
print(a,b,c)

10 3.14 NTT

In [ ]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

100 100 100

In [ ]:
# variable annonation
a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(b)

print(__annotations__['b'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a = "Blr"

print(a)

10
<class 'int'>
31.3
<class 'float'>
NTT
<class 'str'>
Blr

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
# this section is for commentingqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
#ddddddddddddddddddddddd
#ddddddddddddddddddddd

In [ ]:
# multiline comments

""" efdasdfasdf
asdfasdfasdf
asdfasdfasdf
asdfasfasdfasdfasdfasfd """

print("multiline comment")

multiline comment

In [ ]:
# string

s= "code yug"

print(s[0:3:1])
print(s[2:4])

cod
de

In [ ]:
# slicing

s = "bangalore"

print(s[::])

bangalore

In [ ]:
# negative slicing

s = "bangalore"

print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])

print(s[-1: :-1])

ero
eoan

erolagnab

In [1]:
#global variable

n=10

def fun():
  global n
  n=n+1
  print(n)

def test():
  global n
  n=n+1
  print(n)

fun()
test()
print(n)

11
12
12

In [2]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

8 multiplied by 5 is: 40
4 multiplied by 10 is: 40

In [5]:
#default argument
def student(name, age, m1, m2, m3,college ="STET"):
  print(name, age, m1, m2, m3, college)

student("kasi", 35, 100, 90, 80)

kasi 35 100 90 80 STET

In [7]:
#variable length argument
def fun(*a):
  print(a)
  print(type(a))

fun(1,2)
fun(1,2,3)
fun(1,2,3,4)

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [9]:
#variable length argument
def sum(*a):
  #print(a)
  s=0
  for i in a:
    s=s+i
  print(s)

sum(1,2) # values are packed as tuple
sum(1,2,3)
sum(1,2,3,4)

3
6
10