In [ ]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

In [1]:
#Bank project

class Bank:
  bankname= "Indian bank"
  branch = "Bellandur , Blr"

  #create account
  def __init__(self , username , pan, address):
    self.username = username
    self.pan = pan
    self.address = address
    self.balance = 0
    print("account created succesfully")

  def withdraw(self, amt):
    if amt< self.balance:
      self.balance = self.balance - amt
      print("remaining balance is ", self.balance)
    else:
      print("insufficient balance")

  def deposit(self, amt):
    self.balance = self.balance + amt
    print("amount deposited successfully")

  def balance_check(self):
    print("your balance is ", self.balance)


# collect user data for account creation


username = input("enter your name")
pan= input("enter ur pan no")
address = input("enter ur address")

b = Bank(username, pan, address)


while True:
   print("1. Deposit , 2.withdraw 3.balacecheck 4.quit")
   option = int(input("enter ur option"))

   if option ==1:
    amt = int(input("enter the amount to deposit"))
    b.deposit(amt)

   elif option == 2:
    amt = int(input("enter the amount to withdraw"))
    b.withdraw(amt)

   elif option == 3:
    b.balance_check()

   elif option == 4:
    break

   else:
    print("invalid option")

enter your nameKasi
enter ur pan noBhypk5995E
enter ur address3/1 South Street
account created succesfully
1. Deposit , 2.withdraw 3.balacecheck 4.quit
enter ur option3
your balance is  0
1. Deposit , 2.withdraw 3.balacecheck 4.quit
enter ur option1
enter the amount to deposit10000
amount deposited successfully
1. Deposit , 2.withdraw 3.balacecheck 4.quit
enter ur option2
enter the amount to withdraw11000
insufficient balance
1. Deposit , 2.withdraw 3.balacecheck 4.quit
enter ur option2
enter the amount to withdraw3000
remaining balance is  7000
1. Deposit , 2.withdraw 3.balacecheck 4.quit
enter ur option1
enter the amount to deposit10000
amount deposited successfully
1. Deposit , 2.withdraw 3.balacecheck 4.quit
enter ur option3
your balance is  17000
1. Deposit , 2.withdraw 3.balacecheck 4.quit
enter ur option4

In [ ]:
#USER DEFINED EXCEPTION

class Invalidageerror(Exception):
  pass

try:
  age = int(input("Enter your age"))
  if age<0:
   raise Invalidageerror("Age cannot be negative")
  print("Your age is : ", age)

except Invalidageerror as var:
  print(var)

Enter your age-10
Age cannot be negative

In [ ]:
# ATM Project

class BalanceException(Exception):
  pass
class AttemptException(Exception):
  pass
attempt = 1
def withdraw():
  global attempt
  saved_pin=1234
  balance = 10000

  pin = int(input("Enter your pin"))
  if pin == saved_pin:
    try:
     amt = int(input("Enter the amount to Withdraw"))
     temp_bal = balance - amt
     if temp_bal < 1000:
      raise BalanceException("Minimum Balance should not be less than 1000")
      balance = balance - amt
      print("remaining balance is ", balance)

    except BalanceException as var:
      print(var)

  else:
    print("Invalid pin")
    ans = input("Do you want to continue again Y/N")
    if ans == 'Y':
      attempt = attempt + 1
      try:
        if attempt == 4:
          raise AttemptException("Too many attempts and account blocked for 3 hours")

      except AttemptException as var:
          print(var)

      else:
            withdraw()


withdraw()

Enter your pin1234
Enter the amount to Withdraw10000
Minimum Balance should not be less than 1000

In [ ]:
# dynamic programming

a=10
print(a)
print(id(a))

a = 3.14
print(a)
print(id(a))

a ="NTT"
print(a)
print(id(a))

In [ ]:
# deleting a variable

a = 20
print(a)
del a
print(a)

In [ ]:
# creating multiple variables

a,b,c = 10 , 3.14 , "NTT"
print(a,b,c)

10 3.14 NTT

In [ ]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

100 100 100

In [ ]:
# variable annonation
a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(b)

print(__annotations__['b'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a = "Blr"

print(a)

10
<class 'int'>
31.3
<class 'float'>
NTT
<class 'str'>
Blr

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
# this section is for commentingqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
#ddddddddddddddddddddddd
#ddddddddddddddddddddd

In [ ]:
# multiline comments

""" efdasdfasdf
asdfasdfasdf
asdfasdfasdf
asdfasfasdfasdfasdfasfd """

print("multiline comment")

multiline comment

In [ ]:
# string

s= "code yug"

print(s[0:3:1])
print(s[2:4])

cod
de

In [ ]:
# slicing

s = "bangalore"

print(s[::])

bangalore

In [ ]:
# negative slicing

s = "bangalore"

print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])

print(s[-1: :-1])

ero
eoan

erolagnab

In [ ]:
#global variable

n=10

def fun():
  global n
  n=n+1
  print(n)

def test():
  global n
  n=n+1
  print(n)

fun()
test()
print(n)

11
12
12

In [ ]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

8 multiplied by 5 is: 40
4 multiplied by 10 is: 40

In [ ]:
#default argument
def student(name, age, m1, m2, m3,college ="STET"):
  print(name, age, m1, m2, m3, college)

student("kasi", 35, 100, 90, 80)

kasi 35 100 90 80 STET

In [ ]:
#variable length argument
def fun(*a):
  print(a)
  print(type(a))

fun(1,2)
fun(1,2,3)
fun(1,2,3,4)

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
#variable length position arguments
def sum(*a):
  #print(a)
  s=0
  for i in a:
    s=s+i
  print(s)

sum(1,2) # values are packed as tuple
sum(1,2,3)
sum(1,2,3,4)

3
6
10

In [ ]:
#variable length keywords argument
def sum(**a):
  #print(a)
  s=0
  for i in a:
    s=s+i
  print(s)

sum(a=1,b=2) # values are packed as tuple
sum(a=1,b=2,c=3)
sum(a=1,b=2,c=3,d=4)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# varible length positional args and variable length keyword args

def add(*num, **nums ):
  print(sum(num))
  print(sum(nums.values()))

add(10,20,30,40,n1=100,n2=200,n3=300)

TypeError: sum() takes 0 positional arguments but 1 was given

In [ ]:
#lambda function return single expression
var = lambda x,y,z:x+y+z
print(var(10,20,30))

60

In [ ]:
add=lambda x,y : (x+y,x-y)
print(add(20,10))
print(type(add))

(30, 10)
<class 'function'>

In [ ]:

def student(*a,m1=10,m2=20,m3=30,College = "STET"):
  print(1,2,3,m1,m2,m3,College)

student(1,2,3)

1 2 3 10 20 30 STET

In [ ]:
#pos arguments --> keyword arguments --> Default args
def student(name, age, m1, m2, m3, college ="STET"):
  print(name, age, m1, m2, m3, college)

student("kasi", 35, 100, 90, 80)

kasi 35 100 90 80 STET

In [ ]:
#Class and objects

class Calculator:
  n1=0
  n2=0
  res=0

  def _init_(self,n1,n2):
    self.n1=0
    self.n2=0
    self.res=0

  def add(self,n1,n2):
    pass

  def sub(self,n1,n2):
    pass

  def mul(self,n1,n2):
    pass

  def div(self,n1,n2):
    pass

  obj1=Calculator(10,20) #obj1 creation
  obj1=Calculator(100,200) #obj1 creation

NameError: name 'Calculator' is not defined